#homepage {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
}
.container {
    padding: 50px 5%;
}
#homepage .title {
    line-height: 80px;
}
.title {
    font-size: 70px;
    font-weight: 600;
    color: #222;
}